<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="title" href="https://reegoram.github.io">{{ site.author.name}}</a>
    <div class="description">
        <blockquote>
            {{ site.description | escape }}
        </blockquote>
    </div>
    <nav class="site-nav">
        <ul>
            <li>
                <a href="{{ "/" | relative_url}}">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="media">
        <ul class="social-media-list">
            <li>
                <a target="_blank" title="reegoram on Github" href="https://github/{{ site.author.github_username }}">g</a>
            </li>
            <li>
                <a target="_blank" title="Follow me @reegoram" href="https://twitter.com/{{ site.author.twitter_username }}">t</a>
            </li>
        </ul>
    </div>
  </div>
</header>