* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header.site-header {
  background: #2196F3;
  position: relative;
  z-index: 3;
}

header.site-header .wrapper {
  text-align: center;
}

header.site-header .wrapper nav ul li {
  list-style: none;
}

header.site-header .wrapper nav ul li a {
  color: #212121;
  display: block;
  font-size: 1.2em;
  padding: 0.5em 0;
  text-decoration: none;
}

header.site-header .wrapper nav ul li a:hover {
  background: #1976D2;
  cursor: pointer;
}

@media screen and (min-width: 56.625em) {
  header.site-header .wrapper nav ul li a {
    font-size: 1.5em;
  }
}

header.site-header .wrapper .description {
  background: #FF5252;
  padding: 1em;
  text-align: justify;
}

header.site-header .wrapper .footer {
  box-sizing: border-box;
  font-size: 0.65rem;
  padding: 0.5rem;
  text-align: right;
  width: 100%;
  z-index: -1;
}

header.site-header .wrapper .footer p a {
  color: #BDBDBD;
  text-decoration: none;
}

header.site-header .wrapper .footer p a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

@media screen and (min-width: 56.625em) {
  header.site-header .wrapper .footer {
    bottom: 0;
    position: absolute;
  }
}

header.site-header .wrapper .media {
  display: block;
  font-size: 1.2rem;
  width: 100%;
}

header.site-header .wrapper .media ul li {
  display: inline-block;
  list-style: none;
  margin: 0.75rem;
}

header.site-header .wrapper .media ul li a {
  color: #212121;
  text-decoration: none;
}

header.site-header .wrapper .media ul li a:hover {
  color: #FFFFFF;
}

header.site-header .wrapper .title {
  color: #FFFFFF;
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em 0;
  text-decoration: none;
  width: 100%;
}

@media screen and (min-width: 56.625em) {
  header.site-header .wrapper .title {
    font-size: 4em;
  }
}

@media screen and (min-width: 56.625em) {
  header.site-header {
    box-shadow: 0 0.1875em 0.375em rgba(0, 0, 0, 0.16), 0 0.1875em 0.375em rgba(0, 0, 0, 0.23);
    height: 100%;
    position: fixed;
    width: 25%;
  }
}

main {
  box-sizing: border-box;
  padding: 1em;
  z-index: 1;
}

main .posts {
  margin: 0.5em;
}

main .posts article {
  border-bottom-color: #BDBDBD;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  color: #212121;
  list-style: none;
}

main .posts article h2 a {
  color: #2196F3;
  text-decoration: none;
}

main .posts article h2 a:hover {
  color: #1976D2;
  text-decoration: underline;
}

main .posts article p {
  padding: 1em 0;
  text-align: justify;
}

main .posts article span {
  color: #757575;
}

main .wrapper article {
  margin-top: 1em;
}

main .wrapper article header h1 {
  color: #1976D2;
}

main .wrapper article header p {
  color: #757575;
  display: block;
  text-align: right;
  padding: 0.5em 1em;
}

main .wrapper article .post-content {
  color: #212121;
  padding: 1em;
}

main .wrapper article .post-content figure {
  margin: 1rem;
}

@media screen and (min-width: 56.625em) {
  main {
    height: 100%;
    left: 25%;
    position: absolute;
    width: 75%;
  }
}

main .rss-subscribe {
  display: block;
  text-align: right;
}

main .rss-subscribe a {
  color: #2196F3;
  text-decoration: none;
}

main .rss-subscribe a:hover {
  color: #1976D2;
  text-decoration: underline;
}
